#gameArea {
  position: relative;
  height: 400px;
  width: 70%;
  border: 1px solid black;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: bottom;
  background-position-y: -110px;
}

#mario {
  position: absolute;
  bottom: 12px;
  left: 50px;
  width: 100px;
  height: 100px;
  background: url("./assets/mario.gif"); /* replace with your Mario image */
  background-size: cover;
}

.obstacle {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
}
